<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.sathish.deadman.55"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>covid kill</name>

  <description>
      COVID KILL is a unique shooting type game, intended to destroy viruses which causing pandemic at 2020. This game is created to make happiness and positivity among the peoples through killing the viruses. Rather than making a lengthier game with many stages, it is made to finish the game quickly with one or more tries. Let us meet the Final Boss at stage 20. Have fun.
  </description>

  <author href="https://build.phonegap.com" email="research.sathish@gmail.com">
      Sathish D
  </author>

<icon src="icon.png"/>

</widget>